// \\//\\//\\//\\//
//	VARIABLES   \\
//\\//\\//\\//\\//

$white: #fff;
$black: #464646;

$pink: #c1aecc;
$blue: #acc9cc;
$grey: #d3d3d3;
$orange: #d8b28d;

$primary-button: $pink;
$default-font: $black;

$font-family-1: 'Abel', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-2: 'Righteous', 'Ariel', sans-serif;

/************
TYPE
************/

html,
body {
  background-color: $white;

  color: $default-font;
  font-family: $font-family-1;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 1em;
}


a {
  color: inherit;
  text-decoration: none;
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}
a:hover, 
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

a.link-style,
a.link-style:link,
a.link-style:visited {
  border-bottom: 2px solid $black;
}

a.link-style:hover,
a.link-style:focus,
a.link-style:active {
  border-color: $pink;
  color: $pink;
}



a.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  display: inline-block;
  min-width: 200px;
  padding: 0.8em 0;

  border: none;
  border-radius: 5px;
  outline: none;

  background-color: $primary-button;

  color: $white;
  font-family: $font-family-1;
  font-size: 18px;
  text-align: center;
  text-shadow: none;

  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    border: none;

    text-shadow: none;

    box-shadow: none;
  }

  &.pink {
    background-color: $primary-button;
  }
  &.blue {
    background-color: $blue;
  }
  &.orange {
    background-color: $orange;
  }
}

audio {
  display: inline-block;
  margin: 25px 0;
  + audio {
    margin-top: 0;
  }
}



/************
UTILITIES
************/

.no-wrap {
	white-space: nowrap;
}

.highlight {
  &.blue {
    background-color: $blue;
  }
  &.pink {
    background-color: $pink;
  }
  &.orange {
    background-color: $orange;
  }
}



