.content-area {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 125px;
  @include mq(medium) {
  	padding: 50px 0 125px;

  }
}

.content-area {
	.callout {
	  padding: 0 5%;

	  font-size: 16px;
	  text-align: center;
	  margin-bottom: 2em;
	  @include mq(medium) {
	  	font-size: 20px
	  }
	}
	.cta {
		margin: 0 auto;
		background-color: $pink;
		color: $white;
		font-size: 18px;
	}

	.feature {
		margin: 150px 0;
	}

	.feature-media {
		margin-bottom: 50px;
	}

	.feature-excerpt {
		margin-bottom: 50px;
	}

	.feature-cta {
		text-align: center;
		width: 100%;
	}

	.feature-button {
		background-color: $blue;
		margin: 0 auto;
		font-size: 18px;
	}

}

