/************
CONTENT AREA
************/

.content-area {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0 50px;
  @include mq(medium) {
  	padding: 170px 0 125px;
  }

	a,
	a:link,
	a:visited {
		color: $orange;
	  border-bottom: 2px solid $orange;
	}

	a:hover,
	a:focus,
	a:active {
	  border-color: $orange-darker;
	  color: $orange-darker;
	}
}

.content-area {
	.callout {
	  padding: 0;

	  font-size: 14px;
	  text-align: center;
	  margin-bottom: 75px;
	  @include mq(medium) {
	  	font-size: 20px;
	 		margin-bottom: 150px;
	  	padding: 0 5%;
	  // text-align: center;


	  }
	}

	.feature {
		margin-bottom: 75px;
		@include mq(medium) {
			margin-bottom: 150px;
		}
	}

	.feature-media {
		margin-bottom: 50px;
	}

	.feature-excerpt {
		margin-bottom: 50px;
		font-size: 1.25em;
		line-height: 1.5em;
		margin-bottom: 1.5em;
	}

	.feature-cta {
		text-align: center;
		width: 100%;
	}

	.feature-button {
		background-color: $blue;
		margin: 0 auto;
		font-size: 18px;
	}
}

/************
HEADER
************/

.content-area {
	.page-header {
		margin-bottom: 75px;
		@include mq(medium) {
			margin-bottom: 100px;
		}
	}
	.page-title {
		margin-bottom: 0;
	}
}


/************
POST
************/

.post { 
	margin-bottom: 2.5em;
	.entry-header h1 {
		margin-bottom: 0.5em;
		line-height: 1.15em;
	}
	.entry-header {
		a,
		a:link,
		a:visited {
			color: $black;
	  	border-bottom: 2px solid $black;
		}
		a:hover,
		a:focus,
		a:active {
		  border-color: $orange-darker;
		  color: $orange-darker;
		}
	}
	.entry-content {
		margin: 1em 0 0;
	}

	.content-excerpt {
		padding: 0;
		@include mq(medium) {
			padding-left: 25px;
		}
	}
}





