.site-footer {
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
  @include mq(medium) {
    padding: 50px 0;
  }

  background-color: $grey;

  color: $default-font;
  text-align: center;

  h1 {
    font-family: $font-family-2;
    margin-bottom: 0;
    font-size: 1.5em;
  }

  .copyright {
    font-size: 10px;
  }

  .logo-area {
    padding: 0;
    @include mq(medium) {
      padding-right: 25px;
    }
  }

  .footer-menu {
    @include mq(medium) {
      padding-left: 25px;
      border-left: 2px solid $black;
    }

    padding: 0;
    border: none;
  
    li {
      padding: 3px 0;
    }
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}



/************
FOOTER BOTTOM
************/

.site {
	min-height: 100vh;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.site-content {
	flex: 1;
	-webkit-flex: 1;
  padding: 0 15px;
  @include mq(small-only) {
    padding: 0 3%;
  }
}