html {
	overflow: visible;
	&.overlay-active {
		overflow: hidden;
	}
}

header.site-header {
	background-color: $white;
	text-align: left;
	font-size: 10px;
	padding: 0 3%;
	@include boxshadow($grey);
	@include mq(medium) {
		font-size: 20px;
		box-shadow: none;
		text-align: center;
		padding: 0;
	}
	h1 {
		font-family: $font-family-2;
		color: $pink;
		line-height: 2em;
		font-size: 3.15em;
		margin-bottom: 0;
	}

	.logo {
		display: inline-block;
	}

	.hamburger-menu {
		position: absolute;
		right: 20px;
		cursor: pointer;
		h1 {
			font-size: 20px;
			line-height: 3em;
		}
	}

	.menu-icon.close {
		z-index: 14;
		position: relative;
		cursor: pointer;
		// display: block;
		padding: 15px;
		opacity: 0;
  	@include transition(opacity, 1.5s, ease-in);
	}

}

/************
ANIMATE HEADER
************/
.site-header {
  @include transition(all, 0.3s, cubic-bezier(0.6, 0.5, 0.1, 1));
  @include mq(medium) {
    padding-top: 50px;
    &.smaller {
      @include boxshadow($grey);

      padding-top: 0;

      font-size: 10px;
    }
  }

  position: fixed;
  width: 100%;

  background-color: $white;

  z-index: 10;
}


/************
NAVIGATION
************/
.main-navigation ul {
	display: block !important;
}

.main-navigation {
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	text-align: center;
	z-index: 11;
	@include transition(all, 0.5s, cubic-bezier(0.6, 0.2, 0.1, 1));

	&.active {
		right: 0;

		.overlay {
			display: block;
		}

		.menu-icon.close {
			opacity: 1;
		}
	}
	li {
		float: none;
		display: block;
		position: relative;
		font-size: 25px;
		padding: 15px 0 15px;
		border-bottom: 1px solid $black;
		cursor: pointer;
		@include mq(medium) {
			font-size: 30px;
		}
		&:hover {
			background-color: $pink;
			color: $white;
		}
	}

	.overlay {
	  display: none;
	  position: fixed;
	  left: 0;
	  height: 100%;
	  width: 100%;

	  background-color: $white;
	  opacity: 0.9;

	  z-index: 12;
    // @include animation(overlayAnimation, 0.3s, ease-in);

	}

	.menu-options {
		background-color: $grey;
		text-align: right;
		z-index: 13;
		position: relative;
	}

	.menu-main-menu-container {
		position: relative;
		background-color: $grey;
		text-align: center;
		width: 100%;
	}

}